.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 120px 0;
}

.reservation__title {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
