@import url("../vendor/normalize.css");

@import url("../blocks/page.css");

@import url("../blocks/header.css");

@import url("../blocks/nav.css");

@import url("../blocks/content.css");

@import url("../blocks/recipes.css");

@import url("../blocks/reservation.css");

@import url("../blocks/form.css");

@import url("../blocks/menu.css");

@import url("../blocks/about.css");

<<<<<<< HEAD
@import url("../blocks/footer.css");
=======
.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__hours {
}

.header__paragraph {
  display: flex;
  margin: 0;
}

.content {
  display: block;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 215px 80px;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 80px;
}

.recipes__videos {
  list-style-type: none;
  display: flex;
  column-gap: 40px;
  width: 1000px;
  padding: 0;
  justify-content: center;
  margin: auto;
}

.recipes__video {
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  color: #ffffff;
  justify-content: space-between;
  display: flex;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 120px 0;
}

.reservation__title {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  max-width: 385px;
  margin: 0 auto;
  box-sizing: border-box;
}

.form__fieldset {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 385px;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: flex;
  flex-direction: column;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  margin-bottom: 35px;
  height: 60px;
  margin-top: 8px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border-radius: 4px;
  height: 60px;
  height: 60px;
  margin-bottom: 32px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  opacity: 100%;
  transition: opacity 0.3s ease;
}

.form__button:hover {
  opacity: 70%;
}

.form__label_type_checkbox {
  flex-direction: row-reverse;
  display: flex;
  justify-content: center;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 12px;
}
>>>>>>> 5c44021a1d4192e99d3f4a4e7d0eaf9cc969e95c
